html
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            | &#x9;&#x9;        
            span.icon-bar
            | &#x9;&#x9;        
            span.icon-bar
            | &#x9;&#x9;        
            span.icon-bar
          | &#x9;&#x9;      
          a.navbar-brand(href='#') Brand
        | &#x9;   
        | &#x9;&#x9;    
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#')
                | Link 
                span.sr-only (current)
            | &#x9;&#x9;        
            li
              a(href='#') Link
            | &#x9;&#x9;        
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Dropdown 
                span.caret
              | &#x9;&#x9;          
              ul.dropdown-menu
                li
                  a(href='#') Action
                | &#x9;&#x9;            
                li
                  a(href='#') Another action
                | &#x9;&#x9;            
                li
                  a(href='#') Something else here
                | &#x9;&#x9;            
                li.divider(role='separator')
                | &#x9;&#x9;            
                li
                  a(href='#') Separated link
                | &#x9;&#x9;            
                li.divider(role='separator')
                | &#x9;&#x9;            
                li
                  a(href='#') One more separated link
          | &#x9;&#x9;      
          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            | &#x9;&#x9;        
            button.btn.btn-default(type='submit') Submit
          | &#x9;&#x9;      
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Link
            | &#x9;&#x9;        
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Dropdown 
                span.caret
              | &#x9;&#x9;          
              ul.dropdown-menu
                li
                  a(href='#') Action
                | &#x9;&#x9;            
                li
                  a(href='#') Another action
                | &#x9;&#x9;            
                li
                  a(href='#') Something else here
                | &#x9;&#x9;            
                li.divider(role='separator')
                | &#x9;&#x9;            
                li
                  a(href='#') Separated link
