html *{
	padding:0px;
	margin:0px;
}
body{
	background-color: #fbf9fe;
	margin-top: 20px;
}
.next{
	position: fixed;
	left:0px;
	right:0px;
	bottom: 5%;
	width: 90%;
}
.type{
	margin-bottom: 15px;
	border: 1px solid #d9d9d9;
}
label{
	width: 6em !important;
}