<html>
	<head>
		<title>资料填写</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src='js/jquery-1.8.3.min.js'></script>
		<script src='js/informationInput_1.js'></script>
    	<link rel="stylesheet" href="css/weui.min.css"/>
		<link rel="stylesheet" href="css/informationInput_1.css">
	</head>
	<body ontouchstart=''>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd">
                	<label class="weui_label">预约人姓名</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="number" pattern="[0-9]*" placeholder="" id='name'/>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                	<label class="weui_label">手机</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="number" pattern="[0-9]*" placeholder="" id='phone'/>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                	<label class="weui_label">身份证号码</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="number" pattern="[0-9]*" placeholder="" id='identification'/>
                </div>
            </div>
            <div class="weui_cells weui_cells_access">
	            <a class="weui_cell" href="javascript:;">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>房地产所在地</p>
	                </div>
	                <div class="weui_cell_ft"></div>
	            </a>
        	</div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                	<label class="weui_label">房地产名称</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="number" pattern="[0-9]*" placeholder="" id='houseName'/>
                </div>
            </div>
            <div class="weui_cells weui_cells_access">
	            <a class="weui_cell" href="javascript:;">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>权属证明类型</p>
	                </div>
	                <div class="weui_cell_ft"></div>
	            </a>
        	</div>
            <div class="weui_cell">
            <div class="weui_cell_hd">
                	<label class="weui_label">权属证明标号</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="number" pattern="[0-9]*" placeholder="" id='houseNum'/>
                </div>
            </div>
        </div>
    	<div class="bd spacing">
    		<a href="#" class="weui_btn weui_btn_primary next">提交</a>
		</div>
	</body>
</html>		