<html>
	<head>
		<title>订单详情</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src='js/angular.min.js'></script>
		<script src='js/orderDetail.js'></script>
    	<link rel="stylesheet" href="css/weui.min.css"/>
		<link rel="stylesheet" href="css/orderDetail.css">
	</head>
	<body ontouchstart=''>
		<div class="bd">
	        <div class="weui_cells">
	            <div class="weui_cell">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>订单号</p>
	                </div>
	                <div class="weui_cell_ft">000000001</div>
	            </div>
	            <div class="weui_cell">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>预约人姓名</p>
	                </div>
	                <div class="weui_cell_ft">张三</div>
	            </div>
	            	            <div class="weui_cell">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>委托业务</p>
	                </div>
	                <p class="weui_cell_ft">注销抵押、房产过户、注销抵押、房产过户</p>
	            </div>
	            <div class="weui_cell">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>委托形式</p>
	                </div>
	                <div class="weui_cell_ft">全权委托</div>
	            </div>
	            <div class="weui_cell">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>手机号码</p>
	                </div>
	                <div class="weui_cell_ft">18088888888</div>
	            </div>
	            <div class="weui_cell">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>身份证号码</p>
	                </div>
	                <div class="weui_cell_ft">441322199310120234</div>
	            </div>
	            <div class="weui_cell">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>房地产所在区</p>
	                </div>
	                <div class="weui_cell_ft">南山</div>
	            </div>
	            <div class="weui_cell">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>房地产名称</p>
	                </div>
	                <div class="weui_cell_ft">佳兆业城市广场5503G</div>
	            </div>
	            <div class="weui_cell">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>权属证明编号</p>
	                </div>
	                <div class="weui_cell_ft">9000000000023</div>
	            </div>
                <div class="weui_cells weui_cells_access">
		            <a class="weui_cell" href="javascript:;">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>业务办理进度</p>
		                </div>
		                <div class="weui_cell_ft"></div>
		            </a>
        		</div>
        	</div>
		</div>
	</body>
</html>