<html ng-app='myapp'>
	<head>
		<title>业务选择</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="css/weui.min.css"/>
    	<link rel="stylesheet" href="css/swiper.min.css">
		<link rel="stylesheet" href="css/index.css">
	</head>
	<body ontouchstart='' ng-controller='myctrl'>
		<!-- 滑动页面 -->
		<div class="swiper-container">
			<div class="swiper-wrapper" style='height:initial'>
				<!-- 业务选择页 -->
				<div class="swiper-slide" style='height:initial'>
					<div>
						<h1 class='page_title'>请选择委托业务（可多选）</h1>
					</div>
			        <div class="weui_cells weui_cells_checkbox">
			            <label class="weui_cell weui_check_label" for="s11">
			              	<div class="weui_cell_bd weui_cell_primary">
			                     	<p>1、注销抵押</p>
			               	</div>
				                    <div class="weui_cell_hd">
			                     	<input type="checkbox" class="weui_check" name="checkbox1" id="s11" ng-model='type.cancel'>
			                     	<i class="weui_icon_checked"></i>
			                	</div>
			          	</label>
			             <label class="weui_cell weui_check_label" for="s12">
			                    <div class="weui_cell_bd weui_cell_primary">
			                     	<p>2、房产过户</p>
			                	</div>
			            	 	<div class="weui_cell_hd">
			                     	<input type="checkbox" name="checkbox1" class="weui_check" id="s12" ng-model='type.transfer'>
			                     	<i class="weui_icon_checked"></i>
			                	</div>
			            	</label>
			            <label class="weui_cell weui_check_label" for="s13">
			                	<div class="weui_cell_bd weui_cell_primary">
			                     	<p>3、取新房产证</p>
			                	</div>
			              	<div class="weui_cell_hd">
			                 	<input type="checkbox" name="checkbox1" class="weui_check" id="s13" ng-model='type.get'>
			                 	<i class="weui_icon_checked"></i>
			            	</div>
			        	</label>
			             <label class="weui_cell weui_check_label" for="s14">
			                <div class="weui_cell_bd weui_cell_primary">
			                 	<p>4、贷款抵押</p>
			            	</div>
			            	<div class="weui_cell_hd">
			                 	<input type="checkbox" name="checkbox1" class="weui_check" id="s14" ng-model='type.loan'>
			                 	<i class="weui_icon_checked"></i>
			            	</div>
			        	</label>
			    	</div>
			    	<div class="bd spacing" ng-click='infoInput(this.type)' style='margin-top:20%'>
			    		<a class="weui_btn weui_btn_primary next">下一步</a>
					</div>
				</div>
				<!-- 非过户资料输入页 -->
				<div class="swiper-slide" style='height:initial'>
					<div class="weui_cells weui_cells_form">
			            <div class="weui_cell">
			                <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">预约人姓名</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" ng-model='inputs.buyName'/>
			                </div>
			            </div>
			            <div class="weui_cell">
			                <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">手机</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" ng-model='inputs.buyPhone'/>
			                </div>
			            </div>
			            <div class="weui_cell">
			                <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">身份证号码</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" placeholder="" ng-model='inputs.buyIdentification'/>
			                </div>
			            </div>
			            <div class="weui_cells weui_cells_access" ng-click='choosePlace(1)'>
				            <a class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>房地产所在地</p>
				                </div>
				                <div class="weui_cell_ft" ng-bind='inputs.place'>请选择</div>
				            </a>
			        	</div>
			            <div class="weui_cell">
			                <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">房地产名称</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" placeholder="" ng-model='inputs.houseName'/>
			                </div>
			            </div>
			            <div class="weui_cells weui_cells_access" ng-click='chooseType(1)'>
				            <a class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>权属证明标号</p>
				                </div>
				                <div class="weui_cell_ft" ng-bind='inputs.type'>请选择</div>
				            </a>
			        	</div>
			        </div>
			    	<div class="bd spacing" ng-click='submit(this.inputs)'>
			    		<a class="weui_btn weui_btn_primary next" style='margin-top:20%'>提交</a>
					</div>
			    	<div class="bd spacing" ng-click='backToChoose()'>
			    		<a class="weui_btn weui_btn_primary next" style='margin-top:5%'>返回</a>
					</div>
				</div>
				<!-- 过户资料输入页 -->
				<div class="swiper-slide" style='height:initial'>
					<div class='type'>
			            <div class="weui_cell">
			                <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">买方姓名</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" ng-model='inputs.buyName'/>
			                </div>
			            </div>
			            <div class="weui_cell">
			                <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">买方手机</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" ng-model='inputs.buyPhone'/>
			                </div>
			            </div>
			            <div class="weui_cell">
			                <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">买方身份证号码</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" ng-model='inputs.buyIdentification'/>
			                </div>
			            </div>
					</div>
					<div class='type'>
			            <div class="weui_cell">
			                <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">卖方姓名</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" ng-model='inputs.sellName'/>
			                </div>
			            </div>
			            <div class="weui_cell">
			                <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">卖方手机</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" ng-model='inputs.sellPhone'/>
			                </div>
			            </div>
			            <div class="weui_cell">
			                <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">卖方身份证号码</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" ng-model='inputs.sellIdentification'/>
			                </div>
			            </div>
					</div>
					<div class='type'>
			            <div class="weui_cells weui_cells_access" ng-click='choosePlace(2)'>
				            <a class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>房地产所在地</p>
				                </div>
				                <div class="weui_cell_ft" ng-bind='inputs.place'>请选择</div>
				            </a>
			        	</div>
			            <div class="weui_cell">
			                <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">房地产名称</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" ng-model='inputs.houseName'/>
			                </div>
			            </div>
			            <div class="weui_cells weui_cells_access" ng-click='chooseType(2)'>
				            <a class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>权属证明标号</p>
				                </div>
				                <div class="weui_cell_ft" ng-bind='inputs.type'>请选择</div>
				            </a>
			        	</div>
			            <div class="weui_cell">
			            <div class="weui_cell_hd">
			                	<label class="weui_label infoLabel">权属证明标号</label>
			                </div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="text" ng-model='inputs.houseNum'/>
			                </div>
			            </div>
			        </div>
			    	<div class="bd spacing" ng-click='submit(this.inputs)'>
			    		<a class="weui_btn weui_btn_primary next" style='margin-top:10%'>提交</a>
					</div>
			    	<div class="bd spacing" ng-click='backToChoose()'>
			    		<a class="weui_btn weui_btn_primary next" style='margin-top:5%'>返回</a>
					</div>
				</div>
				<!-- 房产所在地区选择 -->
				<div class="swiper-slide" style='height:initial'>
			            <div class="weui_cells weui_cells_access" ng-click='placeChose(this.place)' ng-repeat="place in ['南山区','福田区','龙岗区','罗湖区','盐田区','宝安区','大鹏新区','坪山新区','龙华新区','光明新区']">
				            <a class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p ng-bind='place'></p>
				                </div>
				                <div class="weui_cell_ft"></div>
				            </a>
			        	</div>
				</div>
				<div class="swiper-slide" style='height:initial'>
			            <div class="weui_cells weui_cells_access" ng-click='typeChose(this.type)' ng-repeat="type in ['不动产证','房地产证']">
				            <a class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p ng-bind='type'></p>
				                </div>
				                <div class="weui_cell_ft"></div>
				            </a>
			        	</div>
				</div>
			</div>
		</div>

	<script src='js/angular.min.js'></script>
	<script src='js/swiper.min.js'></script>
	<script src='js/index.js'></script>
	</body>	
</html>