<html>
	<head>
		<title>提交失败</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src='js/jquery-1.8.3.min.js'></script>
		<script src='js/failed.js'></script>
    	<link rel="stylesheet" href="css/weui.min.css"/>
		<link rel="stylesheet" href="css/failed.css">
	</head>
	<body ontouchstart = ''>
		<div class="bd">
			<article class=''>
				<h1>订单提交失败</h1>
				<h2>失败原因：XXXXXXX</h2>
				<section>
					<p>客服热线： 400-888-8888</p>
				</section>
			</article>		
		</div>
		<a href="#" class="weui_btn weui_btn_primary next">重新提交</a>
	</body>
</html>