html *{
	padding:0px;
	margin:0px;
}
body{
	background-color: #fbf9fe;
}
.page_title{
	text-align:center;
	margin: 3% 0;
	font-size: 20px;
}
.next{
	position: fixed;
	left:0px;
	right:0px;
	bottom: 5%;
	width: 90%;
}
